@import './base.css';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

.title {
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    color: #000000;
}

.subtitle {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
}

.text {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
}

.flex {
    display: flex;
}

.between {
    justify-content: space-between;
}

.around {
    justify-content: space-around;
}

.wrap {
    flex-flow: wrap;
}

.column {
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.items-center {
    align-items: center;
}

.mt-sm {
    margin-top: 5px;
}

.mt-lg {
    margin-top: 10px;
}

.mr-xl {
    margin-right: 15px;
}
